*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /* position: relative; */
    /* padding: 20px; */
}
.header{
    /* position: absolute;
    top: 0; 
    z-index: 1; */
    display: flex;
    justify-items: center;
    align-items: center;
    height: 80px;
    background-color: #2f3640;
    /* margin: auto; */
}
.header img{
    /* display: block; */
    /* text-align: center; */
    display: block;
    width: 70px;
    height: 60px;
    margin: auto 40%; 
    margin-right: 20px;
}
.header h1{
    /* margin: auto 20; */
    line-height: 80px;
    /* text-align: center;  */
    color: white;
}
.content{
    padding: 20px;
    transition: .5s;
    right: 0;
    z-index: 3;
}
.content img{
    /* z-index: -1; */
    max-width: 700px;
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    transition: .5s;
}
.content p{
    text-align: justify;
}
.leftsidebar{
    z-index: 5;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 80px;
    background-color: #353b48;
    left: -100%;
    transition: .5s;
}
.leftsidebar li{
    list-style: none; 
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}
.leftsidebar ul li a{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* line-height: 70px; */
    padding: 25px;
    text-align: center;
    color: white;
    font: 40px;
}
a i{
    margin-left: 35px;  
    /* margin-right: 35px; */
}

.leftsidebar ul li a:hover{
    border-left: 10px solid white;
    transition: .4s;
}
.social{
    width: 100%;
    list-style: none;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, .1);
    position: absolute;
    /* bottom: 0; */
    top: 500px;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    padding: 15px 40px;  
}
.social i{
    text-decoration: none;
    color: white;
    margin-right: 35px; 
    margin-left: 35px;
}

.show-btn, .hide-btn{
    font-size: 40px;
    color: white;
    position: fixed;
    /* transition: .7s; */
    top: 20px;
    left: 50px;
}
.hide-btn{
    opacity: 0;
}
#chk{
    visibility: hidden;
}
#chk:checked ~ .leftsidebar{
    left: 0 ;
}
#chk:checked ~ .show-btn{
    opacity: 0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
}
#chk:checked ~ .content{
    position: absolute;
    width: 80%;
} 
@media (max-width:800px){
    .leftsidebar{
        width: 100%;
    }
}