*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: darkgray;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 360px;
    height: 400px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.cont form{
    position: absolute;
    left: 40px;
    top: 80px;
    width: 280px;
    transition: 0.5s;
}
form h2{
    text-align: center;
    margin-bottom: 30px;
}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    background: transparent;
}
.btn{
    margin: 30px auto;
    text-align: center;
}
form button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: crimson;
    color: white;
}
#social{
    left: 450px;
}
#personal{
    left: 450px;
}

.step-row{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0px -1px 5px -1px #000;
    border-radius: 10px;
}
.step-col{
    width: 120px;
    text-align: center;
    font-weight: 800px;
    position: relative;
}
#progress{
    width: 120px;
    height: 40px;
    background-color: crimson;
    position: absolute;
    transition: 0.5s;
}
#progress::after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: -20px;
    top: 0;
    border-left: 20px solid crimson;
}