*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    background-color: gray;
    padding: 20px;
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    font-size: 70px;
    color: red;
    text-align: center;
    margin-bottom: 40px;
}
.form1{
    background-color: white;
    width: 400px;
    height: 500px;
}
.form1 .lower{
    border: 1px solid white;
}
.form1 .upper{
    border: 1px solid linear-gradient(to left, #fd8465, #fdbf6c);
    background-image: linear-gradient(to left, #fd8465, #fdbf6c);
    padding: 40px;
}
.form1 h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.form1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form1 ul li{
    list-style: none;
    margin-right: 10px;
    font-size:30px;
}
.form1 li a{
    text-decoration: none;
    color: white;
}
.form1 .email{
    padding-bottom: 10px;
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 60px 40px;
}
.form1 .pass{
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
    margin: 0px 40px;
}
.forgot{
    margin-top: 20px;
    margin-left: 43%;
    margin-bottom: 30px;
}
.forgot h2{
    font-size: 17px;
    color: gray;
    display: inline-block;
    margin-right: 5px;
}
.forgot a{
    text-decoration: none;
    color: black;
}
.login .log a{
    text-decoration: none;
    background-color: #616161;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
}
.login{
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
}
.login p{
    color: gray;
    font-size: 13px;
    margin-right: 5px;
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.form2{
    /* margin-top: 10px; */
    background-color: white;
    
    width: 400px;
    height: 500px;
    margin-left: 20px;
    position: relative;
}
.form2 .upper{
    border: 1px solid white;
}
.form2 .upper h2{
    margin-top: 30px;
    text-align: center;
    color: red;
}
.form2 .lower{
    border: 1px solid #919fba;
    background-color: #919fba;
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.form2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form2 ul li{
    list-style: none;
    margin-right: 10px;
    font-size:30px;
}
.form2 li a{
    text-decoration: none;
    color: white;
}
.form2 .email{
    padding-bottom: 10px;
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 60px 40px;
}
.form2 .pass{
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
    margin: 0px 40px;
}
.form2 .upper .terms{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 10px;
}
.form2 .upper a{
    text-decoration: none;
    color: blue;
}
.sign{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}
.form2 .upper .sign .up{
    text-decoration: none;
    background-color: #ec407a;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    margin-right: 20px;
    margin-left: 40px;
}
.sign p{
    color: gray;
    line-height: 40px;
    font-size: 15px;
}
.form2 .upper .sign p a{
    text-decoration: none;
    color: blue
}

.form3{
    /* margin-top: 10px; */
    background-color: white;
    
    width: 400px;
    height: 500px;
    margin-left: 20px;
    position: relative;
}
.form3 h2{
    margin-top: 20px;
    text-align: center;
}
.form3 .email{
    padding-bottom: 10px;
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 60px 40px;
}
.form3 .pass{
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 10px;
    margin: 0px 40px;
    margin-bottom: 15px;
}
.form3 .forgot{
    text-decoration: none;
    margin-left: 55%; 
    font-size: 15px;
    color: blue;
}
.form3 .sign{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to left,#314fa9 ,#45b9f2);
    border-radius: 30px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px; 
}
.form3 p{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.form3 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form3 ul li{
    list-style: none;
    margin-right: 10px;
    font-size:15px;
}
.form3 li a{
    text-decoration: none;
    color: #4175b7 ;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.15);
}

@media(max-width:600px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;    
        font-family: Arial, Helvetica, sans-serif;
    }
    .box{
        background-color: gray;
        padding: 20px;
        height: 100%;
        /* height: 100vh; */
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 70px;
        color: red;
        text-align: center;
        margin-bottom: 40px;
    }
    .form1{
        background-color: white;
        width: 400px;
        height: 500px;
        margin-bottom: 20px;
        /* margin-left: 20px; */
    }
    .form1 .lower{
        border: 1px solid white;
    }
    .form1 .upper{
        border: 1px solid linear-gradient(to left, #fd8465, #fdbf6c);
        background-image: linear-gradient(to left, #fd8465, #fdbf6c);
        padding: 40px;
    }
    .form1 h2{
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
    .form1 ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form1 ul li{
        list-style: none;
        margin-right: 10px;
        font-size:30px;
    }
    .form1 li a{
        text-decoration: none;
        color: white;
    }
    .form1 .email{
        padding-bottom: 10px;
        width: 300px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin: 60px 40px;
    }
    .form1 .pass{
        width: 300px;
        border-top: none;
        border-right: none;
        border-left: none;
        padding-bottom: 10px;
        margin: 0px 40px;
    }
    .forgot{
        margin-top: 20px;
        margin-left: 43%;
        margin-bottom: 30px;
    }
    .forgot h2{
        font-size: 17px;
        color: gray;
        display: inline-block;
        margin-right: 5px;
    }
    .forgot a{
        text-decoration: none;
        color: black;
    }
    .login .log a{
        text-decoration: none;
        background-color: #616161;
        color: white;
        border-radius: 30px;
        padding: 10px 20px;
        margin-right: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    .login{
        display: flex;
        flex-direction: row;
        margin: 0px 40px;
    }
    .login p{
        color: gray;
        font-size: 13px;
        margin-right: 5px;
    }
    .login a{
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    
    .form2{
        /* margin-top: 10px; */
        background-color: white;
        
        margin-right: 20px;
        width: 400px;
        height: 500px;
        /* position: relative; */
        margin-bottom: 20px;
    }
    .form2 .upper{
        border: 1px solid white;
    }
    .form2 .upper h2{
        margin-top: 30px;
        text-align: center;
        color: red;
    }
    .form2 .lower{
        border: 1px solid #919fba;
        background-color: #919fba;
        padding: 30px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .form2 ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form2 ul li{
        list-style: none;
        margin-right: 10px;
        font-size:30px;
    }
    .form2 li a{
        text-decoration: none;
        color: white;
    }
    .form2 .email{
        padding-bottom: 10px;
        width: 300px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin: 60px 40px;
    }
    .form2 .pass{
        width: 300px;
        border-top: none;
        border-right: none;
        border-left: none;
        padding-bottom: 10px;
        margin: 0px 40px;
    }
    .form2 .upper .terms{
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 10px;
    }
    .form2 .upper a{
        text-decoration: none;
        color: blue;
    }
    .sign{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        font-size: 15px;
        font-weight: bold;
    }
    .form2 .upper .sign .up{
        text-decoration: none;
        background-color: #ec407a;
        color: white;
        border-radius: 30px;
        padding: 10px 30px;
        margin-right: 20px;
        margin-left: 40px;
    }
    .sign p{
        color: gray;
        line-height: 40px;
        font-size: 15px;
    }
    .form2 .upper .sign p a{
        text-decoration: none;
        color: blue
    }
    
    .form3{
        /* margin-top: 10px; */
        background-color: white;
        
        width: 400px;
        height: 500px;
        /* margin-left: 20px; */
        /* position: relative; */
        margin-right: 20px;
    }
    .form3 h2{
        margin-top: 20px;
        text-align: center;
    }
    .form3 .email{
        padding-bottom: 10px;
        width: 300px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin: 60px 40px;
    }
    .form3 .pass{
        width: 300px;
        border-top: none;
        border-right: none;
        border-left: none;
        padding-bottom: 10px;
        margin: 0px 40px;
        margin-bottom: 15px;
    }
    .form3 .forgot{
        text-decoration: none;
        margin-left: 55%; 
        font-size: 15px;
        color: blue;
    }
    .form3 .sign{
        text-decoration: none;
        color: white;
        background-image: linear-gradient(to left,#314fa9 ,#45b9f2);
        border-radius: 30px;
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px; 
    }
    .form3 p{
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .form3 ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form3 ul li{
        list-style: none;
        margin-right: 10px;
        font-size:15px;
    }
    .form3 li a{
        text-decoration: none;
        color: #4175b7 ;
        padding: 10px 30px;
        border-radius: 30px;
        box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.15);
    }
}